body {
  font-family: Arial, sans-serif;
}

.delete-btn {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.delete-btn:hover {
  background-color: darkred;
}

/* Estilos personalizados para la paginación */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 3px;
  color: #007bff;
  background-color: white;
  border: 1px solid #dee2e6;
  outline: none; /* Quitar el borde de enfoque */
  box-shadow: none; /* Quitar el sombreado */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: white !important;
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
  outline: none; /* Quitar el borde de enfoque */
  box-shadow: none; /* Quitar el sombreado */
}

/* Ajustes responsivos */
@media (max-width: 767.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .table-responsive {
    border: 0;
  }
  .dataTables_wrapper .dataTables_paginate {
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    margin: 5px 2px;
    padding: 5px;
  }
  .dataTables_wrapper .dataTables_info {
    text-align: center;
  }
}

/* Estilos para reducir el ancho de las filas de la tabla */
.table th, .table td {
  padding: 5px; /* Ajusta este valor según sea necesario */
  vertical-align: middle;
}
